<style type="text/css">

    input:required:invalid, input:focus:invalid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
        background-position: right top;
        background-repeat: no-repeat;
        -moz-box-shadow: none;
    }
    input:required:valid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
        background-position: right top;
        background-repeat: no-repeat;
    }
</style>
<div data-ng-controller="EventListController" class="content">
    <div class="lineRow">
        <h2>Create an Event: {{event.name}}</h2>
        <div class="lineCell">
            <strong><a href="#/events">Back to List</a></strong>
        </div>
    </div>

<form novalidate class="simple-form">
    <div style="display: table;">
        <div class="lineRow"><div class="lineCell">Name:</div><div class="lineCell"><input type="text" ng-model="event.name" /></div></div>
        <div class="lineRow"><div class="lineCell">Start (Date & Time): </div><div class="lineCell"><input type="datetime" pattern="\d{1,2}.\d{1,2}.\d{4} \d{2}:\d{2}" data-ng-model="event.begin" /></div></div>
        <div class="lineRow"><div class="lineCell">End (Date & Time): </div><div class="lineCell"><input type="datetime" pattern="\d{1,2}.\d{1,2}.\d{4} \d{2}:\d{2}" data-ng-model="event.end" /></div></div>
        <div class="lineRow"><div class="lineCell">Description: </div><div class="lineCell"><textarea data-ng-model="event.description"></textarea></div></div>
        <div class="lineRow"><div class="lineCell">Target Group: </div><div class="lineCell"><input type="text"  data-ng-model="event.targetGroup" /></div></div>
        <div class="lineRow"><div class="lineCell">Contributions: </div><div class="lineCell"><input type="text"  data-ng-model="event.contributionsDescription" /></div></div>

            <div class="lineRow"><div class="lineCellSpecial"><b>Location</b></div><div class="lineCellSpecial"></div></div>
            <div class="lineRow"><div class="lineCellSpecial">Name: </div><div class="lineCellSpecial"><input type="text"  data-ng-model="event.location.name" /></div></div>
            <div class="lineRow"><div class="lineCellSpecial">Street: </div><div class="lineCellSpecial"><input type="text"  data-ng-model="event.location.street" /></div></div>
            <div class="lineRow"><div class="lineCellSpecial">ZipCode: </div><div class="lineCellSpecial"><input type="text"  data-ng-model="event.location.zipCode" /></div></div>
            <div class="lineRow"><div class="lineCellSpecial">City: </div><div class="lineCellSpecial"><input type="text"  data-ng-model="event.location.city" /></div></div>

    <div class="lineRow"><div class="lineCell">Maximal number of Guests: </div><div class="lineCell"><input type="text"  data-ng-model="event.maximalAmoutOfGuests" /></div></div>
        <input type="submit" ng-click="add(event)" value="Add Event" />
    </div>
</form>
</div>